{% extends '::base.html.twig' %}

{% block body %}

    <h1>{{ say }}</h1>

    <p><a href="{{ path('php_tree_list') }}">Tree list</a></p>
    <p><a href="{{ path('php_tree_treeStructure') }}">Tree structure</a></p>

{% endblock %}
